RewriteEngine On
# Jika file atau direktori tidak ditemukan
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Terapkan rewrite ke index.php, sertakan path asli sebagai parameter jika diperlukan
RewriteRule ^(.*)$ index.php/$1 [QSA,L]
